@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,600&family=Roboto:ital,wght@0,400;0,500;1,500&display=swap');

/* font-family: 'Montserrat',sans-serif; */
/* font-family: 'Roboto',sans-serif; */

html {
    box-sizing: border-box;
}
* {box-sizing: inherit;}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
}

a {text-decoration: none;
color: black;}

ul {margin: 0;
padding: 0;
list-style-type: none;
}

li {
    display: inline-block;
}

h1, h2, h3 {
    margin: 0;
}
.header {
     background-image: url(../img/header/bg.jpg);
     height: 1080px;
     max-width: 1920px;
     background-repeat: no-repeat;
     margin: 0 auto;
     padding-top: 20px;
}

.container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__info {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

}
.header__info__left {
width: 570px;
/* display: flex; */
/* justify-content: space-between; */
position: relative;
color: #34383D;
}
.header__info__left a {
padding-left: 40px;
color: #34383D;
margin-right: 60px;
}
.header__info__left a::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url(../img/header/headphone.svg);
    position: absolute;
    left: 0;
    top: -2px;
}

.header__info__left span {
    font-style: italic;
    display: inline-block;
}
.header__info__right {
    width: 460px;
    display: flex;
    justify-content: space-between;
}
.header__info__right a, .product__slider-btn {
    display: inline-block;
    width: 220px;
    height: 60px;
    border: 1px solid #CDA861;
    padding: 16px 23px;
    border-radius: 50px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #fff;
}
.header__info__right a.btn-gold {
    background-color: #CDA861;
    color:#34383D;
}

.header__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 190px;
}

.header__title__left {
display: flex;
min-width: 1050px;
align-items: center;
}

.header__title__left img {
    margin-right: 45px;
}
.header__title__right {
min-width: 120px;
}

.header__title__right img {
    margin-right: 40px;
}

.menu {}

.menu__item {
    margin-right: 50px;
}

.menu__item a {
    color: #34383D;
    opacity: 0.6;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
    transition: all 0.5s;
}

.menu__item a:hover {
opacity: 1;
border-bottom: 3px solid #CDA861;
}
.header__content {
    max-width: 660px;
  }

  .header__content-simple {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 35px;
        line-height: 93px;
        margin-bottom: 30px;
        }
    
  h1 span {
    color: #CDA861;
    text-decoration: underline;
  }
.header__contect-text {
font-size: 22px;
opacity: 0,6;
max-width: 490px;
line-height: 26px;
margin-bottom: 60px;
}

.header_content-a, .about_content-a {
    display: inline-block;
    min-width: 220px;
    height: 60px;
    border: 1px solid #CDA861;
    padding: 16px 23px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    background-color: #CDA861;
    color: #34383D;
}

.about {
    padding: 80px 40px;
}

.about__inner {
    width: 1600px;
    height: 600px;
    background: rgba(205, 168, 97, 0.1);
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 50px;
    }

    .about__home {
    margin-left: 70px;
    }

.about__decor {
position: absolute;
left: -95px;
bottom: -80px;
}


.about__content {
    position: relative;
    margin-left: 70px;
    max-width: 520px;
}

.section__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid #CDA861;
    display: inline-block;
    margin-bottom: 20px;
    }

.about__slogan {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 76px;
    line-height: 93px;
    text-transform: uppercase;
    max-width: 461px;
    margin-bottom: 30px;
}

.about__text, .product__text {
    color: #34383D;
    opacity: 0,8;
    margin-bottom: 25px;
}

.about__chair {
    position: absolute;
    bottom: -25px;
    right: -270px;
}

.product {
    text-align: center;
    padding: 80px 0;
}

.product__text {
margin-bottom: 30px;
}

.product__slider {
    min-width: 1513px;
    
}

.product__slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 68px;
    min-height: 410px;
    justify-content: space-between;
    width: 257px;
}

.product__slider-name {
    width: 257px;
    height: 149px;
    background-color: #F2F1F1;
    border-radius: 30px;
    position: relative;
    }

.product__slider-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -44px;
}

.product__slider-title {
    padding-top: 105px;
    font-size: 24px;
    line-height: 28px;
    color: #34383D;
    }

.stars {}

.product__slider-price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
}

.product__slider-text {
    font-weight: 400;
    color: #34383D;
    opacity: 0.8;
    font-size: 18px;
    line-height: 21px;
}

.product__slider-btn {
    color: #34383D;
}

.deals {}

.deals__bgimg {
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    min-height: 767px;
    background-image: url(../img/deals/img.png);
    background: linear-gradient #000000 @ 0% rgba(0, 0, 0, 0.26) @ 0.01%; 
    border: 5px solid #AACACD;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
}

.section__title {
    border: none;
    margin-bottom: 35px;
}

.deals__timer {
    display: flex;
    max-width: 504px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
margin-bottom: 20px;
    }

.timer__item {
    width: 66px;
    height: 66px;
    border: 1px solid #F3E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin: 0 auto 3px;

}

.deals__timer-wrapper {
    
}

.deals__descr {
    font-size: 16px;
    line-height: 20px;
}
.deals__d {
   
}

.deals__h {}


.deals__m {}


.deals__s {}

.spec {
text-align: center;
padding: 80px 0;
}

.container {}

.spec__bgimg {
    background-image: url(../img/sofa/sofa.png);
    width: 956px;
    height: 415px;
    margin: 0 auto -40px;
    }

.spec__wraper {
max-width: 1680px;
    height: 303px;
    background-color: rgba(205, 168, 97, 0.19);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.spec__items {
width: 1032px;
display: flex;
justify-content: space-between;
align-items: center;
min-height: 70px;
}

.spec__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
       
}

.spec__img {
width: 94px;
height: 67px;
background-repeat: no-repeat;
background-position: right 0;
margin-right: 20px;
}

.spec__item-truck {
background-image: url(../img/sofa/truck.svg);
}
.spec__item-headphone {
background-image: url(../img/sofa/Group.svg);
}
.spec__item-hand {
background-image: url(../img/sofa/Groupusd.svg);
}

.spec__item-descr {
    text-align: left;

}

.spec__item-title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 8px;
}

.spec__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.sub {
    padding: 80px 0;
    }

.sub__bgimg {
    margin: 0 120px;
    background-image: url(../img/section_five/img.png);
    width: 1440px;
    height: 697px;
    background-position: center -29px;
    Radius: 62px;
    padding: 100px 110px;

}

.sub .section__title {
    margin-bottom: 32px;
}
.sub__text {
    margin-bottom: 80px;
    max-width: 610px;
    text-align: center;
    font-weight: 400;
}

.sub__form {
    width: 610px;
    
}
input[type=email] {
    border: none;
    width: 100%;
    background: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 150px;
    height: 79px;
    padding: 25px 250px 26px 40px;
    outline: none;
    Font-family: Montserrat;
    font-weight: 400;
    Font-style: regular;
    Font-size: 22px;
    Line-height: 27px;
    color: black;
}

.sub__form-wrapper {
position: relative;
}

input[type=email]::placeholder {
    color: black;
}

input[type=submit] {
    display: inline-block;
        min-width: 210px;
        height: 60px;
        border: 1px solid #CDA861;
        padding: 16px 23px;
        border-radius: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        background-color: #CDA861;
        color: #34383D;
        text-transform: uppercase;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;


       
}





